.promotion {
}
ion-card{
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
}
ion-card-title{
    color: #555 !important;
    float: right;
    font-size: 1.5rem !important;
}
