.profile {

}
.name {
    padding-top: 10px;
    font-size: 28px;
}
.sub-detail {
    padding-top: 20px;
    color: #c1c1c1;
}
.container {
    padding-top: 10px;
}
.tier {
    float: left;
    font-size: 25px;
}
.tier span {
    font-size: 35px;
    color: gold;
}
.point-container {
    float: right;
    font-size: 20px;
}
.point-container span {
    font-size: 33px;
    color: #0c479d;
}
.mobile-container {
    padding-top: 68px;
}