.promotion-detail {
    color: #555;
    font-size: 3.5vh;
    font-size: 3.5vw;
}
.point-zone{
    margin-top: 3%;
    margin-bottom: 5%;
    background: #fdfdfd;
}
.text-center{
    text-align: center;
}
.point{
    color: red;
    font-size: 7vh;
    font-size: 7vw;
}
.point-detail{
    font-size: 4vh;
    font-size: 4vw;
}